[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet/
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials/
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas
[submodule "atm"]
	path = atm
	url = https://github.com/mt-mods/atm
[submodule "auroras"]
	path = auroras
	url = https://github.com/random-geek/auroras
[submodule "bakedclay"]
	path = bakedclay
	url = https://github.com/minetest-mirrors/bakedclay
[submodule "banners"]
	path = banners
	url = https://github.com/pandorabox-io/banners
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "bees"]
	path = bees
	url = https://github.com/Archtec-io/bees
[submodule "Biofuel"]
	path = Biofuel
	url = https://github.com/Lokrates/Biofuel
[submodule "biome_lib"]
	path = biome_lib
	url = https://github.com/mt-mods/biome_lib
[submodule "bonemeal"]
	path = bonemeal
	url = https://github.com/minetest-mirrors/bonemeal
[submodule "bridger"]
	path = bridger
	url = https://github.com/Archtec-io/bridger
[submodule "castle_lighting"]
	path = castle_lighting
	url = https://github.com/minetest-mods/castle_lighting
[submodule "castle_masonry"]
	path = castle_masonry
	url = https://github.com/minetest-mods/castle_masonry
[submodule "castle_shields"]
	path = castle_shields
	url = https://github.com/minetest-mods/castle_shields
[submodule "castle_farming"]
	path = castle_farming
	url = https://github.com/minetest-mods/castle_farming
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates
[submodule "castle_tapestries"]
	path = castle_tapestries
	url = https://github.com/minetest-mods/castle_tapestries
[submodule "caverealms_lite"]
	path = caverealms_lite
	url = https://notabug.org/tenplus1/caverealms_lite
[submodule "chatplus"]
	path = chatplus
	url = https://github.com/Niklp09/chatplus
[submodule "christmas_decor"]
	path = christmas_decor
	url = https://github.com/GreenXenith/christmas_decor
[submodule "claycrafter"]
	path = claycrafter
	url = https://github.com/Dragonop/claycrafter
[submodule "colored_concrete"]
	path = colored_concrete
	url = https://github.com/Niklp09/colored_concrete
[submodule "controls"]
	path = controls
	url = https://github.com/mt-mods/controls
[submodule "crafting_bench"]
	path = crafting_bench
	url = https://github.com/minetest-mods/crafting_bench
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency
[submodule "darkage"]
	path = darkage
	url = https://github.com/Archtec-io/darkage
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/Archtec-io/display_modpack
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar
[submodule "fachwerk"]
	path = fachwerk
	url = https://github.com/joe7575/fachwerk
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "feldweg"]
	path = feldweg
	url = https://github.com/Niklp09/feldweg
[submodule "framedglass"]
	path = framedglass
	url = https://github.com/minetest-mods/framedglass
[submodule "graystone"]
	path = graystone
	url = https://github.com/Niklp09/graystone
[submodule "greek"]
	path = greek
	url = https://github.com/GreenXenith/greek
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/mt-mods/hangglider
[submodule "headanim"]
	path = headanim
	url = https://github.com/LoneWolfHT/headanim/
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "home_workshop_modpack"]
	path = home_workshop_modpack
	url = https://github.com/mt-mods/home_workshop_modpack
[submodule "hopper"]
	path = hopper
	url = https://notabug.org/TenPlus1/hopper.git
[submodule "ilights"]
	path = ilights
	url = https://github.com/mt-mods/ilights
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib
[submodule "itemframes"]
	path = itemframes
	url = https://notabug.org/TenPlus1/itemframes.git
[submodule "jonez"]
	path = jonez
	url = https://github.com/runsy/jonez
[submodule "jumping"]
	path = jumping
	url = https://github.com/minetest-mods/jumping
[submodule "led_marquee"]
	path = led_marquee
	url = https://github.com/mt-mods/led_marquee
[submodule "letters"]
	path = letters
	url = https://github.com/Niklp09/letters/
[submodule "mesecons_debug"]
	path = mesecons_debug
	url = https://github.com/minetest-monitoring/mesecons_debug
[submodule "mesecons_wireless"]
	path = mesecons_wireless
	url = https://github.com/GreenXenith/mesecons_wireless
[submodule "minetest_hbhunger"]
	path = minetest_hbhunger
	url = https://codeberg.org/Wuzzy/minetest_hbhunger.git
[submodule "minetest-smartshop"]
	path = minetest-smartshop
	url = https://github.com/fluxionary/minetest-smartshop
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://github.com/archtec-io/mobs_animal
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster.git
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mydoors"]
	path = mydoors
	url = https://github.com/minetest-mods/mydoors
[submodule "morewalls"]
	path = morewalls
	url = https://github.com/Archtec-io/morewalls
[submodule "nixie_tubes"]
	path = nixie_tubes
	url = https://github.com/mt-mods/nixie_tubes
[submodule "helicopter"]
	path = helicopter
	url = https://github.com/APercy/helicopter
[submodule "pkarcs"]
	path = pkarcs
	url = https://github.com/Niklp09/pkarcs
[submodule "playerlist"]
	path = playerlist
	url = https://github.com/EliasFleckenstein03/playerlist
[submodule "prefab"]
	path = prefab
	url = https://github.com/mt-mods/prefab
[submodule "quartz"]
	path = quartz
	url = https://github.com/Niklp09/quartz
[submodule "replacer"]
	path = replacer
	url = https://github.com/SwissalpS/replacer
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes
[submodule "signs_bot"]
	path = signs_bot
	url = https://github.com/joe7575/signs_bot
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "snowsong"]
	path = snowsong
	url = https://github.com/tacotexmex/snowsong
[submodule "stripped_tree"]
	path = stripped_tree
	url = https://github.com/minefaco/stripped_tree
[submodule "compost"]
	path = compost
	url = https://github.com/joe7575/compost
[submodule "lcdlib"]
	path = lcdlib
	url = https://github.com/joe7575/lcdlib
[submodule "minecart"]
	path = minecart
	url = https://github.com/joe7575/minecart
[submodule "networks"]
	path = networks
	url = https://github.com/joe7575/networks
[submodule "safer_lua"]
	path = safer_lua
	url = https://github.com/joe7575/safer_lua
[submodule "techage"]
	path = techage
	url = https://github.com/joe7575/techage
[submodule "techpack_stairway"]
	path = techpack_stairway
	url = https://github.com/joe7575/techpack_stairway
[submodule "ta4_addons"]
	path = ta4_addons
	url = https://github.com/Thomas--S/ta4_addons
[submodule "telemosaic"]
	path = telemosaic
	url = https://github.com/mt-mods/telemosaic
[submodule "titanium"]
	path = titanium
	url = https://github.com/Niklp09/titanium
[submodule "towercrane"]
	path = towercrane
	url = https://github.com/Archtec-io/towercrane
[submodule "tubelib2"]
	path = tubelib2
	url = https://github.com/joe7575/tubelib2
[submodule "ts_furniture"]
	path = ts_furniture
	url = https://github.com/minetest-mods/ts_furniture
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/archtec-io/unified_inventory
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus
[submodule "unifiedbricks"]
	path = unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes
[submodule "wine"]
	path = wine
	url = https://notabug.org/TenPlus1/wine.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/Archtec-io/xban2
[submodule "xcoal"]
	path = xcoal
	url = https://github.com/Niklp09/xcoal
[submodule "xdecor"]
	path = xdecor
	url = https://github.com/Archtec-io/xdecor
[submodule "invisible_wall"]
	path = invisible_wall
	url = https://github.com/Niklp09/invisible_wall
[submodule "glass_stained"]
	path = glass_stained
	url = https://github.com/OgelGames/glass_stained
[submodule "dummies"]
	path = dummies
	url = https://github.com/Niklp09/dummies
[submodule "facade"]
	path = facade
	url = https://github.com/Niklp09/facade
[submodule "technic_cnc"]
	path = technic_cnc
	url = https://github.com/Archtec-io/technic_cnc
[submodule "fireworkz"]
	path = fireworkz
	url = https://github.com/runsy/fireworkz
[submodule "windchimes"]
	path = windchimes
	url = https://github.com/GreenXenith/windchimes/
[submodule "cblocks"]
	path = cblocks
	url = https://notabug.org/TenPlus1/cblocks.git
[submodule "armor-skins-and-wielditems"]
	path = armor-skins-and-wielditems
	url = https://github.com/Archtec-io/armor-skins-and-wielditems
[submodule "archtec"]
	path = archtec
	url = https://github.com/Archtec-io/archtec
[submodule "abriglass"]
	path = abriglass
	url = https://github.com/mt-mods/abriglass
[submodule "moretrees"]
	path = moretrees
	url = https://github.com/Archtec-io/moretrees
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/Archtec-io/cool_trees
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "emote"]
	path = emote
	url = https://github.com/minetest-mods/emote
[submodule "minetest_cups"]
	path = minetest_cups
	url = https://repo.or.cz/minetest_cups.git
[submodule "technic_chests"]
	path = technic_chests
	url = https://github.com/Niklp09/technic_chests
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/Archtec-io/moreblocks
	branch = bugfixes
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "autobahn"]
	path = autobahn
	url = https://github.com/joe7575/autobahn
[submodule "rebreather"]
	path = rebreather
	url = https://github.com/Beanzilla/rebreather
[submodule "ranks"]
	path = ranks
	url = https://github.com/Niklp09/ranks
[submodule "perfhud"]
	path = perfhud
	url = https://github.com/debagos/perfhud
[submodule "node_entity_queue"]
	path = node_entity_queue
	url = https://github.com/fluxionary/minetest-node_entity_queue
[submodule "futil"]
	path = futil
	url = https://github.com/fluxionary/minetest-futil
[submodule "action_queues"]
	path = action_queues
	url = https://github.com/fluxionary/minetest-action_queues
[submodule "digicolor"]
	path = digicolor
	url = https://github.com/fluxionary/minetest-digicolor
[submodule "pride_flags"]
	path = pride_flags
	url = https://codeberg.org/Wuzzy/pride_flags
[submodule "country_flags"]
	path = country_flags
	url = https://github.com/snowyu/minetest-country_flags
[submodule "ethereal"]
	path = ethereal
	url = https://github.com/Archtec-io/ethereal
[submodule "bones"]
	path = bones
	url = https://github.com/OgelGames/bones
[submodule "drawers"]
	path = drawers
	url = https://github.com/minetest-mods/drawers
[submodule "hudbars"]
	path = hudbars
	url = https://github.com/Archtec-io/hudbars
[submodule "ts_vehicles"]
	path = ts_vehicles
	url = https://github.com/Thomas--S/ts_vehicles
[submodule "streets"]
	path = streets
	url = https://github.com/Thomas--S/streets
